<div class="parametr">
    <div class="genre-wrapper">
      <p class="genre" data-id="">Genre</p>
      <ul class="category-list is-hidden">
        <!-- is-hidden добавити в клас -->
        <li class="category-list__item" data-id="28">Action</li>
        <li class="category-list__item" data-id="12">Adventure</li>
        <li class="category-list__item" data-id="16">Animation</li>
        <li class="category-list__item" data-id="35">Comedy</li>
        <li class="category-list__item" data-id="80">Crime</li>
        <li class="category-list__item" data-id="99">Documentary</li>
        <li class="category-list__item" data-id="18">Drama</li>
        <li class="category-list__item" data-id="10751">Family</li>
        <li class="category-list__item" data-id="14">Fantasy</li>
        <li class="category-list__item" data-id="36">History</li>
      </ul>
    </div>

    <div class="year-wrapper">
      <p class="year" data-id="">Year</p>
      <ul class="year-list is-hidden"></ul> 
      <!-- is-hidden добавити в клас -->
    </div>

    <a href="./index.html" class="button clear-btn">Clear</a>
</div>
    