<section class="section filter__section">
    <div class="container filter__container">
      <h2 class="filter-text lang-filter">Find the best movies</h2>
      <select
        class="filter-input" 
        name="sortpicker" 
        id="sortpicker"    
        size="1" 
        onfocus='this.size=4;' 
        onblur='this.size=1;' 
        onchange='this.size=1; this.blur();'
        >
        <option class="filter-input__option lang-sort" value="popularity.desc">Choose sort</option>
        <option class="filter-input__option lang-popularity" value="popularity.desc">Popularity</option>
        <option class="filter-input__option lang-Revenue" value="revenue.desc">Revenue</option>
        <option class="filter-input__option lang-count"  value="vote_count.desc">Vote count</option>
      </select>
    </div>
</section>