<section class="section filter__section">
    <div class="container filter__container">
      <h2 class="filter-text">Find the best movies</h2>
      <select
        class="genre-input" 
        name="genrepiker" 
        id="genrepiker"    
        size="1" 
        onfocus='this.size=4;' 
        onblur='this.size=1;' 
        onchange='this.size=1; this.blur();'>
        <option class="genre-input__option" value="action">Action</option>
        <option class="genre-input__option" value="adventure">Adventure</option>
        <option class="genre-input__option" value="animation">Animation</option>
        <option class="genre-input__option" value="comedy">Comedy</option>
        <option class="genre-input__option" value="crime">Crime</option>
        <option class="genre-input__option" value="documentary">Documentary</option>
        <option class="genre-input__option" value="drama">Drama</option>
        <option class="genre-input__option" value="family">Family</option>
        <option class="genre-input__option" value="fantasy">Fantasy</option>
        <option class="genre-input__option" value="history">History</option>
        <option class="genre-input__option" value="horror">Horror</option>
        <option class="genre-input__option" value="music">Music</option>
        <option class="genre-input__option" value="mystery">Mystery</option>
        <option class="genre-input__option" value="romance">Romance</option>
        <option class="genre-input__option" value="science fiction">Science Fiction</option>
        <option class="genre-input__option" value="movie">Movie</option>
        <option class="genre-input__option" value="thriller">Thriller</option>
        <option class="genre-input__option" value="war">War</option>
        <option class="genre-input__option" value="western">Western</option>
      </select>

      <select 
      class="year-input" 
      name="yearpiker" 
      id="yearpiker" 
      size="1" 
      onfocus='this.size=4;' 
      onblur='this.size=1;'
      onchange='this.size=1; this.blur();'>
      </select>
    </div>
 </section>
    