<main>

  <!-- <section class="section">
    <div id="form_container">
      <h2 id="form_header">login+firebase database</h2>
      <div id="form_content_container">
        <input type="text" id="full_name" placeholder="Full name" />
        <input type="email" id="email" placeholder="Email" />
        <input type="password" id="password" placeholder="Password" />
      </div>
      <div id="button_container">
        <button id="login">Login</button>
        <button id="register">Register</button>
        <button id="logout">LogOut</button>
      </div> -->

  <section class="section section--gallery">
    <div class="container container--gallery">
      <ul class="movies" data-modal-open></ul>      

    </div>
  </section>
</main>
