<div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="modal__button-close-modal" data-modal-close><svg class="modal__icon-close">
                    <use href="./images/symbol-defs-opt.svg#icon-close"></use>
                </svg></button>
        <h2 class="section-team__title">Наша команда</h2>
        <ul class="people">
            <li class="people__item">
                <img srcset="./images/img4mob.jpg 1x, ./images/img4mob@2x.jpg 2x" src="./images/img4mob.jpg"
                    alt="andrey-kurbatov" />
                <div class="name">
                    <h3 class="name__team-item">Андрей Курбатов</h3>
                    <p class="name__profession">Team lead</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
        
            <li class="people__item">
                <img srcset="./images/img5mob.jpg 1x, ./images/img5mob@2x.jpg 2x" src="./images/img5mob.jpg"
                    alt="nataliya-kulibaba" />
                <div class="name">
                    <h3 class="name__team-item">Наталья Кулибаба</h3>
                    <p class="name__profession">Frontend Developer</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
        
            <li class="people__item">
                <img srcset="./images/img6mob.jpg 1x, ./images/img6mob@2x.jpg 2x" src="./images/img6mob.jpg"
                    alt="sofiya-protsiv" />
                <div class="name">
                    <h3 class="name__team-item">София Процив</h3>
                    <p class="name__profession">Scrum master</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
        
            <li class="people__item">
                <img srcset="./images/img7mob.jpg 1x, ./images/img7mob@2x.jpg 2x" src="./images/img7mob.jpg"
                    alt="inna-" />
                <div class="name">
                    <h3 class="name__team-item">Инна ?????????</h3>
                    <p class="name__profession">Frontend Developer</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg
                                    class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>

            <li class="people__item">
                <img srcset="./images/img7mob.jpg 1x, ./images/img7mob@2x.jpg 2x" src="./images/img7mob.jpg" alt="andrey-lelyak" />
                <div class="name">
                    <h3 class="name__team-item">Андрей Леляк</h3>
                    <p class="name__profession">Frontend Developer</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>

            <li class="people__item">
                <img srcset="./images/img7mob.jpg 1x, ./images/img7mob@2x.jpg 2x" src="./images/img7mob.jpg" alt="dmitriy-sergienko" />
                <div class="name">
                    <h3 class="name__team-item">Дмитрий Сергиенко</h3>
                    <p class="name__profession">Frontend Developer</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>

            <li class="people__item">
                <img srcset="./images/img7mob.jpg 1x, ./images/img7mob@2x.jpg 2x" src="./images/img7mob.jpg"
                    alt="roman-prybula" />
                <div class="name">
                    <h3 class="name__team-item">Роман Прибула</h3>
                    <p class="name__profession">Frontend Developer</p>
                    <ul class="socialnets">
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-instagram">
                                    <use href="./images/symbol-defs-opt.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-twitter">
                                    <use href="./images/symbol-defs-opt.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-facebook">
                                    <use href="./images/symbol-defs-opt.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li class="socialnets__item"><a href="#" class="socialnets__link"><svg class="socialnets__icon-linkedin">
                                    <use href="./images/symbol-defs-opt.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>

            
        </ul>
        </div>
    </div>