<div class="backdrop is-hidden" data-modal>
    <div class="modal">
            <button type="button" class="modal__button-close-modal" data-modal-close><svg class="modal__icon-close">
                    <use href="./images/symbol-defs-opt.svg#icon-close"></use>
                </svg></button>
        <h2 class="section-team__title">Наша команда</h2>
        <ul class="people">
            <li class="people__item">
                <img srcset="" src=""
                    alt="andrey-kurbatov" />
                <div class="name">
                    <h3 class="name__team-item">Андрей Курбатов</h3>
                    <p class="name__profession">Team lead</p>
                </div>
            </li>
        
            <li class="people__item">
                <img srcset="" src=""
                    alt="nataliya-kulibaba" />
                <div class="name">
                    <h3 class="name__team-item">Наталья Кулибаба</h3>
                    <p class="name__profession">Frontend Developer</p>
                </div>
            </li>
        
            <li class="people__item">
                <img srcset="" src=""
                    alt="sofiya-protsiv" />
                <div class="name">
                    <h3 class="name__team-item">София Процив</h3>
                    <p class="name__profession">Scrum master</p>
                </div>
            </li>
        
            <li class="people__item">
                <img srcset="" src=""
                    alt="inna-" />
                <div class="name">
                    <h3 class="name__team-item">Инна ?????????</h3>
                    <p class="name__profession">Frontend Developer</p>
                </div>
            </li>

            <li class="people__item">
                <img srcset="" src="" alt="andrey-lelyak" />
                <div class="name">
                    <h3 class="name__team-item">Андрей Леляк</h3>
                    <p class="name__profession">Frontend Developer</p>
                </div>
            </li>

            <li class="people__item">
                <img srcset="" src="" alt="dmitriy-sergienko" />
                <div class="name">
                    <h3 class="name__team-item">Дмитрий Сергиенко</h3>
                    <p class="name__profession">Frontend Developer</p>
                </div>
            </li>

            <li class="people__item">
                <img srcset="" src=""
                    alt="roman-prybula" />
                <div class="name">
                    <h3 class="name__team-item">Роман Прибула</h3>
                    <p class="name__profession">Frontend Developer</p>
                </div>
            </li>

        </ul>
    </div>
</div>