.filter__section {
  padding-top: 20px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }
}
.filter-text {
  text-align: center;
  font-size: 20px;
  color: $black-color;
  text-transform: uppercase;
}

.filters{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.filters__item{
   @media screen and (min-width: $tablet) {
  margin-left: auto;
  margin-right: auto;
}
}

#genrepicker, {
  width: 100px;
  padding: 5px 0;
  font-size: 10px;
  text-align: center;
  border: 2px solid $accent-color;
  background: $main-color;
  color: $dark-grey-color;
  outline: $accent-color;
  margin: 10px;
  border-radius: 10px;
  transition: all $time $timing-function;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    // width: 5px;
    // height: 8px;
  }
  &:hover {
    cursor: pointer;
    color: $black-color;
    background-color: $accent-color;
  }
   @media screen and (min-width: $tablet) {
  width: 180px;
}
@media screen and (min-width: $desktop) {
  width: 200px;
}
}
#yearpicker{
  
  width: 100px;
  padding: 5px 0;
  font-size: 10px;
  text-align: center;
  border: 2px solid $accent-color;
  background: $main-color;
  color: $dark-grey-color;
  outline: $accent-color;
  margin: 10px;
  border-radius: 10px;
  transition: all $time $timing-function;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    // width: 5px;
    // height: 8px;
  }
  &:hover {
    cursor: pointer;
    color: $black-color;
    background-color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
  width: 180px;
}
@media screen and (min-width: $desktop) {
  width: 200px;
}
}

#sortpicker{
  width: 100px;
  padding: 5px 0;
  font-size: 10px;
  text-align: center;
  border: 2px solid $accent-color;
  background: $main-color;
  color: $dark-grey-color;
  outline: $accent-color;
  margin: 10px;
  border-radius: 10px;
  transition: all $time $timing-function;
  &::-webkit-scrollbar {
    // width: 5px;
    // height: 8px;
  }
  &:hover {
    cursor: pointer;
    color: $black-color;
    background-color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
  width: 180px;
}
@media screen and (min-width: $desktop) {
  width: 200px;
}
}

.button-wrap{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.clear-btn{
  width: 200px;
  padding: 5px 0;
  font-size: 10px;
  border: 2px solid $accent-color;
  background: $main-color;
  text-align: center;
  color: $dark-grey-color;
  outline: $accent-color;
  // z-index: 1;
  margin: 10px;
  border-radius: 10px;
  transition: all $time $timing-function;
  &:hover {
    cursor: pointer;
    color: $black-color;
    background-color: $accent-color;
  }
}

option {
  width: 100px;
  margin: 0;
  padding: 5px 0;
  font-size: 10px;
  text-align: center;
  background: $main-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  @media screen and (min-width: $tablet) {
    width: 150px;
    font-size: 15px;
  }
}
.filter-input__option{
  background-color: $main-color;
  color: $black-color;
  padding-left: 5px;
  font-size: 10px;
  transition: all $time $timing-function;
  &:hover {
    cursor: pointer;
    color: $main-color;
    background-color: $accent-color;
  }
}