.section--footer {
  padding-top: 25px;
  padding-bottom: 26px;

  background-color: $footer-bg-color;

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__text {
  font-size: 14px;
  line-height: 1.77;
  text-align: center;

  color: $dark-grey-color;
}

.current-rights {
  margin: 0 5px;
}

.footer__br {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.footer__link {
  display: inline;
  color: inherit;
  text-decoration: underline;

  transition: color $time $timing-function;

  &:hover {
    color: $accent-color;
  }
}
