.container--gallery {
  width: $mobile;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
  @media screen and (min-width: 1400px) {
    width: 1400px;
  }
}

.section--gallery {
  min-height: calc(100vh - 402px);
  padding: 50px 0px 40px 0px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: $tablet) {
    padding: 30px 0px 50px 0px;
  }
}

.movies {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1400px) {
    margin: 0;
  }
}

.movies__item {
  position: relative;
  width: fit-content;
  border-radius: 15px;
  transition: all $time $timing-function;
  margin-bottom: 25px;
  box-shadow: $grey-color 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  body.dark-theme & {
    box-shadow: rgb(10, 10, 10) 6px 2px 16px 0px, rgb(10, 10, 10) -6px -2px 16px 0px;
  }
  &:hover {
    transform: scale(1.06, 1.06);
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;
  }
  @media screen and (min-width: 1400px) {
    margin: 20px;
  }
  &:not(:last-child) {
    @media screen and (max-width: $mobile) {
      margin-bottom: 0;
    }
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 35px;
    }
  }
}
.movies__overlay {
  background: black;
  opacity: 1;
  border-radius: 15px;
}
.movies__overlay:hover .movies__poster {
  opacity: 0.5;
}
.movies__overlay:hover .movies__playBtn {
  opacity: 1;
}
.movies__playBtn {
  display: none;
}
.movies__item:hover .movies__playBtn {
  position: absolute;
  top: 40%;
  left: 43%;
  fill: $main-color;
  display: block;
}

.movies__playBtn:hover .fillForPlayBtn {
  fill: $accent-color;
  cursor: pointer;
}
.movies__poster {
  width: 280px;
  height: 398px;
  display: block;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: all $time $timing-function;

  @media screen and (min-width: $tablet) {
    width: 294px;
  }
  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}

.movies__name {
  text-transform: uppercase;
  margin-left: 10px;
}
.movies__genre {
  color: $accent-color;
  margin-left: 10px;
  padding-bottom: 5px;
}

.movies__ratinge {
  width: 36px;
  height: 16px;
  padding: 1px 8px;
  margin-left: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16px;

  align-items: center;
  text-align: center;

  color: $main-color;
  background-color: $accent-color;

  border-radius: 5px;
}
.loadMoreBtn--is-hidden {
  visibility: hidden;
}
.no-movies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.no-movies__img {
  opacity: 0.2;
}
.no-movies__title {
  font-weight: $base-font;
  opacity: 0.4;
  margin-top: 20px;
  font-size: 36px;
}
.no-movies__link {
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;
  padding: 7px 30px;
  cursor: pointer;

  letter-spacing: 0.06em;
  background: $accent-color;
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  text-decoration: none;

  transition: All $time $timing-function;
  &:hover {
    font-size: 13px;
    padding: 8px 31px;
  }
}

.movies__thumb {
  position: relative;
  max-width: 320px;
  @media screen and (min-width: $desktop) {
    max-width: 303px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 315px;
  }
}
