/*.library.is-hidden {
            display: none;
        }
        
        
        form.is-hidden {
            display: none;
        }
        .notification__text--is-hidden {
            display: none;
        }*/

.header {
    background-color: rgba(0, 0, 0, 0.56);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/images/header/home-bg-mob@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: $mobile;
    width: 100%;
    min-height: 230px;
    padding: 45px 0;
    &__container {
        align-items: center;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, $bg-header, $bg-header), url('/images/header/home-bg-mob@2x.jpg');
    }
    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(to right, $bg-header, $bg-header), url('/images/header/home-bg-tab@1x.jpg');
        @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, $bg-header, $bg-header), url('/images/header/home-bg-tab@2x.jpg');
        }
    }
    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(to right, $bg-header, $bg-header), url('/images/header/home-bg@1x.jpg');
        @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, $bg-header, $bg-header), url('/images/header/home-bg@1x.jpg');
        }
    }
}

.header.library-bgi {
    background-position: center top;
    background-image: url('/images/header/library-bg.jpg');
}

.header-nav {
    margin-bottom: 30px;
    align-items: center;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__icon {
        @media screen and (min-width: $tablet) {
            margin-right: 2px;
        }
    }
    &__logo {
        font-size: 30px;
        font-weight: $base-font;
        color: $main-color;
    }
    &__name {
        display: none;
        @media screen and (min-width: $tablet) {
            display: inline-block;
        }
    }
}

.nav-list {
    display: flex;
    &__link {
        font-weight: $base-font;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        color: $main-color;
        font-family: $base-font;
    }
    &__item:not(:last-child) {
        //margin-right: 40px;
        margin-right: 20px;
    }
    &__link--current::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $accent-color;
        //transition: $time $timing-function;
    }
}

.search-box {
    position: relative;
    width: 280px;
    margin: 0 auto;
    @media screen and (min-width: $tablet) {
        width: 336px;
    }
}

.search-form__input {
    font-size: 14px;
    width: 100%;
    height: 20px;
    position: relative;
    padding: 4px;
    flex-direction: column;
    color: $main-color;
    background-color: transparent;
    border-bottom: 0.5px solid $white-color;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.search-form__input::placeholder {
    color: $main-color;
}

.search-form__btn {
    position: absolute;
    top: 50%;
    right: -2px;
    min-width: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.search-form__icon {
    color: $main-color;
}

.notification {
    &__text {
        color: $red-color;
        text-align: center;
        font-size: 14px;
        line-height: 1.14px;
        margin-top: 22px;
    }
}

.header__buttons {
    margin: (46px auto 0);
    max-width: 300px;
}

.watched__button,
.queue__button {
    min-width: 130px;
    height: 44px;
    padding-top: 14px;
    padding-bottom: 12px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.3px;
    color: $main-color;
    border: 1px solid $main-color;
    text-transform: uppercase;
    font-family: inherit;
    background-color: inherit;
    @media screen and (min-width: $tablet) {
        min-width: 136px;
    }
}

.watched__button:not(:last-child) {
    margin-right: 15px;
}

.btn-activ {
    background: $accent-color;
    border: none;
    box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
    text-transform: uppercase;
}

.is-hidden {
    display: none;
}

.visible {
    display: block;
}