body.show-modal {
  overflow: hidden;
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 2;
  overflow-y: scroll;
}

.backdrop.js-backdrop {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 48px 20px 41px;

  width: 280px;
  border-radius: 5px;
  background-color: $main-color;

  box-shadow: $shadow;

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  @media screen and(min-width: $tablet) {
    width: 618px;
    padding: 42px 30px 40px 28px;
  }

  @media screen and(min-width: $desktop) {
    width: 882px;
    padding: 50px 30px 40px;
  }
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.modal__icon {
  width: 18px;
  height: 18px;
  stroke: $black-color;
  transition: fill $time $timing-function;

  .modal__btn:hover &,
  .modal__btn:focus & {
    fill: $accent-color;
  }
}
.movies__modal {
  @media screen and(min-width: $tablet) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}
.movies__img {
  width: 240px;

  @media screen and(min-width: $tablet) {
    width: 264px;
    margin-right: 32px;
  }

  @media screen and(min-width: $desktop) {
    width: 390px;
    margin-right: 30px;
  }
}

.movies__title {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;

  color: $black-color;
  text-transform: uppercase;

  @media screen and(min-width: $desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movies-info__item {
  display: flex;
  align-items: center;
  margin-right: 25px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $grey-color;
}

.movies-info {
  margin-bottom: 20px;
}
.movies-info__value {
  display: flex;
  align-items: center;
  color: $black-color;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movies-info__item:nth-child(4) {
  margin-bottom: 0px;
}

.movies-info__value--accent {
  text-transform: uppercase;
}

.movies__info {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;

  color: $black-color;
}
.movies__description {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: $black-color;
}

.movies-btn {
  display: flex;
}
.movies-btn__item:nth-child(1) {
  margin-right: 15px;
}

.movies-btn__button {
  display: block;
  height: 44px;
  border-radius: 5px;
  background: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  min-width: 112px;
  padding: 0 10px;
  transition: $time $timing-function;
  &:hover {
    background: $accent-color;
    color: $main-color;
    border: 1px solid $accent-color;
  }
}

.movies-info__average {
  height: 16px;
  padding: 1px 8px;

  color: $main-color;
  background-color: $accent-color;
  border-radius: 5px;
}
