.preloader {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $dark-theme-color;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms $timing-function, visibility 500ms $timing-function;
}
.preloader-hidden {
  visibility: hidden;
  opacity: 0;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  background: $accent-color;
  margin: 5px;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}
.dot:nth-child(2) {
  animation-delay: 0.4s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}
.dot:nth-child(4) {
  animation-delay: 0.8s;
}
.dot:nth-child(5) {
  animation-delay: 1s;
}

@keyframes loader {
  from {
    width: 2px;
    height: 2px;
    border-radius: calc(2px / 2);
  }
  to {
    width: 20px;
    height: 20px;
    border-radius: calc(20px / 2);
  }
}
