.wrapper-section {
  position: relative;
  margin: 0 auto;
  width: $tablet;
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.wrapper {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
  height: 310px;
  z-index: -1000;
}

.wrapper__title {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: $black-color;
  margin: 30px 0 10px 0;
  text-transform: uppercase;
}
.dark-theme .wrapper__title {
  color: $main-color;
}

.wrapper__slider {
  display: flex;
  min-width: 0;
}
.wrapper.is-hidden {
  display: none;
}
.image-slider.swiper {
  padding-top: 20px;
}
.image-slider {
  padding: 30px 0 70px 0;
  text-align: center;
  height: 330px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: $accent-color;
}

.image-slider__image {
  min-width: 400px;
}
.image-slider__slide {
  text-align: center;
}

.swiper-pagination {
  bottom: 0;
}

.swiper__poster {
  position: relative;
  height: 70%;
  border-radius: 5px;
  margin-left: 40px;
  margin: 0px 0px 10px 0px;
  display: inline;

  transition: all $time $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 5px 2px $accent-color;
  }
}

.swiper__name {
  font-size: 11px;
  font-weight: normal;
}

.swiper__genre {
  font-size: 10px;
  color: $grey-color;
}

.swiper-slide {
  position: relative;
  transition: all $time $timing-function;
  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $accent-color;
  }
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 0;
  border-radius: 5px;
  top: 40%;
}

.swiper-slide:hover .movies__playSwiperBtn {
  display: inline;
  fill: $accent-color;
}
.movies__playSwiperBtn {
  position: absolute;
  z-index: 2;
  top: 90px;
  right: 32px;
  display: none;
}
.movies__item:hover .movies__playSwiperBtn {
  position: absolute;
  top: 40%;
  left: 43%;
  fill: $main-color;
  display: block;
}

.movies__playSwiperBtn:hover .fillForPlayBtn {
  fill: $accent-color;
  cursor: pointer;
}
/////////////
// .swiper-button-prev {
//   display: block;
//   height: 40px;
//   width: 45px;
//   z-index: 10;
//   margin-top: -34%;
//   margin-left: -10%;
//   cursor: pointer;
// }
// .swiper-button-next {
//   display: block;
//   height: 40px;
//   width: 45px;
//   z-index: 10;
//   margin-top: -7%;
//   margin-left: 106%;
//   cursor: pointer;
// }
// @media screen and (min-width: 1024px) {
//   .swiper-button-prev {
//     margin-top: -25%;
//     margin-left: -7%;
//   }
//   .swiper-button-next {
//     margin-top: -5%;
//     margin-left: 105%;
//   }
// }
