.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100px 20px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity $time $timing-function;
  overflow-y: scroll;
  @media screen and (min-width: $tablet) {
    padding: 180px 150px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.modal {
  position: relative;
  background-color: $main-color;
  width: 450px;
  height: 609px;
  z-index: 999;
  @media screen and (min-width: $desktop) {
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform $time $timing-function;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 580px;
    max-width: 520px;
    width: 100%;
  }
}

.modal__button-close-modal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  background: $main-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;

  &:hover .modal__icon-close,
  &:focus .modal__icon-close {
    fill: $accent-color;
  }
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill $time $timing-function;
}

// команда
.section-team {
  background-color: $main-color;
}

.section-team__title {
  color: $black-color;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

// список людей
.people {
  display: block;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: wrap;
  }
}

.people__item {
  margin-bottom: 30px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);

    margin-left: 15px;
    margin-right: 15px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    margin-right: 30px;
    flex-basis: calc((100% - 3 * 30px) / 4);

    &:last-child {
      margin-right: 0;
    }
  }
}

.people__item:last-child {
  margin-bottom: 0;
}

.name {
  padding: 30px 0;
  background-color: $main-color;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name__team-item {
  margin-bottom: 10px;
  color: $black-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.name__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  color: $dark-grey-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
